body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 2;
    background-color: #fcf8f3;
    color: #333;
}
*{
    padding:0px;
    margin:0px;
}
.main-header {
    background-color: #5C4033;
    color: white;
    padding: 15px 0;
}
.main-header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}
.main-nav ul {
    list-style: none;
    display: flex; 
}
.main-nav ul li {
    margin-left: 20px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.main-nav ul li a:hover {
    color: #FFD700; 
}
.main-content {
    padding: 40px 0;
}
.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 40px 0;
}
header h1 {
    color: #8b4513;
    font-size: 2.5em;
}
.section {
    margin-bottom: 40px;
}
.section h2 {
    color: #a0522d;
    border-bottom: 2px solid #a0522d;
     padding-bottom: 5px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #8b4513;
    color: #fcf8f3;
}