body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #dfad74;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #d2691e;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.top-section img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #8b0000;
  margin-top: 30px;
}

.text {
  padding-left: 10px;
}
iframe{
      margin-left: 200px;
}
a{
  padding: 4px;
  border: 2px solid black;
  border-radius: 12px;
  color: white;
  text-decoration:none;
  background-color: #000000;
}
a:hover{
  color: #8b0000;
}